header{
    background: url("C:/Users/marim/Desktop/shop-food/src/images/7.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    text-align: left;
    height: auto;
    overflow: hidden; 
    max-width: 100%;
    padding: 23px;
    margin-top: 0px;

   
}
header .row{
    margin: 110px;
    
}
header h2{
    text-align: center;
    color: #ab3550;
    font-size: 55px;
    line-height:63px;
    width: 60%;
font-weight: bold;
font-family:serif;
}
header p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: #777;
    width: 55%;
    font-family: unset;
    text-transform:capitalize ;
text-align: center;
}
header button:hover{
    background: white !important;
    color: #ab3550 !important;
    border-radius: 25px;
    box-shadow:  rgba(221, 120, 113, 0.774) 0px 50px 100px -20px,
     rgba(221, 120, 113, 0.774) 0px 30px 60px -30px,
      rgba(221, 120, 113, 0.774) 0px -2px 6px 0px inset;
}
header button{
    
    width: 150px;
    box-sizing: border-box;
    height: 40px;
    background: #ab3550 !important;
    border-radius: 50px;
    border: 1px solid #ab3550 !important;
  text-align: center;
    color: white;
   margin: 20px;
    font-weight: bold;
    text-transform: uppercase;

}
header button:last-of-type{
    background: white !important;
    color: #ab3550 !important;
    border-radius: 25px;
    box-shadow:  rgba(221, 120, 113, 0.774) 0px 50px 100px -20px,
     rgba(221, 120, 113, 0.774) 0px 30px 60px -30px,
      rgba(221, 120, 113, 0.774) 0px -2px 6px 0px inset;

}
header button:last-of-type:hover{
    background: #ab3550 !important;
    border-radius: 5px;
    border: 1px solid #ab3550 !important;

    color: white !important;
  

}

