
.par{
    background: url("../../images/10.jpg")center no-repeat ;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 90px;
    text-align: center;
    overflow-x: hidden;
   

}
.par h2{
    font-size: 35px;
    color: #ab3550;
    font-family: monospace;
    font-weight: bold;
    width: 50%;
    line-height: 50px;
    margin: 20px;
}

.par p{
    font-size: 15px;
    color: #3333337e;
    font-family: monospace;
    width: 50%;
  
   
}

